@{
    Layout = "_Layout";
}

<h1><b>Turkish:</b> internet üzerinden alınmış bir tasarımdır. İçeriği Infotech Academy'dan aldığım dersler içinde geliştirmem ile oluşmuştur.</h1>


<h1><b>English:</b> layout is not mine. I got it from internet. Source from my Infotech Academy course.</h1>