@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Service </h4>
                <form class="mt-4" asp-controller="Servicee" asp-action="Add" method="post">
                    <div class="form-group" asp-controller="Service" asp-action="Add" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" name="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="number" name="Price" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <a asp-controller="Servicee" asp-action="List" class="btn btn-dark">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

